# ==============================
# Secrets
# ==============================
.env

# ==============================
# Python cache
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# Virtual Environment
# ==============================
venv/
env/
ENV/

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Build / Temp files
# ==============================
*.sqlite3
*.db

# ==============================
# Generated Images / Raw Data (optional)
# ==============================
final_images/
raw_data/
archives/